<!DOCTYPE html>
<html>
<head>
  <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link data-require="kendoUI@2014.2.716" data-semver="2014.2.716" rel="stylesheet" href="http://cdn.kendostatic.com/2014.2.716/styles/kendo.common.min.css" />
  <link data-require="kendoUI@2014.2.716" data-semver="2014.2.716" rel="stylesheet" href="http://cdn.kendostatic.com/2014.2.716/styles/kendo.default.min.css" />
  <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script data-require="kendoUI@2014.2.716" data-semver="2014.2.716" src="http://cdn.kendostatic.com/2014.2.716/js/kendo.all.min.js"></script>
  <script data-require="angular.js@1.3.0-beta.19" data-semver="1.3.0-beta.19" src="https://code.angularjs.org/1.3.0-beta.19/angular.js"></script>
  <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="controllers.js"></script>
  <script src="directives.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="introToAngularApp">
  <input type="text" a2-date-picker ng-model="reservation.date" />
  {{reservation.date | date: 'shortDate' }}
  
  <div ng-controller="NavigationCtrl as vm">
    <a2-mobile-navigation items="vm.items"></a2-mobile-navigation>
  </div>
  
  <script type="text/ng-template" id="/mobileNav.html">
    <select ng-model="activeItem" ng-change="goTo()" ng-options="item.title for item in items">
      <option value="">Jump to Page</option>
    </select>
  </script>
</body>
</html>
