<!DOCTYPE html>
<html>
<head>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script data-require="angular.js@1.3.0-beta.19" data-semver="1.3.0-beta.19" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script data-require="jquery@*" data-semver="2.1.1" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    
    <script src="controllers.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="introToAngularApp">
  <div ng-controller="ContactCtrl as vm" class="container">
    <div class="row">
      <div class="col-md-12">
        <div ng-show="vm.sent" class="alert alert-success">
          You have sent a message!
        </div>
        <form class="form form-inline">
          <div class="form-group">
            <input ng-model="vm.user.name" class="form-control" type="text" placeholder="Name" />
          </div>
          <div class="form-group">
            <input ng-model="vm.user.email" class="form-control" type="text" placeholder="Email" />
          </div>
          <div class="form-group">
            <select ng-model="vm.user.emailType" class="form-control">
              <option value="">-- Email Type--</option>
              <option>Work</option>
              <option>Home</option>
            </select>
          </div>
          <div class="form-group">
              <textarea ng-model="vm.user.comment" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary form-control" 
              ng-disabled="!vm.user.email || !vm.user.comment" 
              ng-click="vm.send(vm.user.name, vm.user.email, vm.user.comment)">Send</button>
          </div>
          <div class="form-group">
            <button class="form-control btn btn-danger" ng-click="vm.clear()">Clear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>